@import _variables
@import _fonts
%flex-space-bt
  display: flex
  justify-content: space-between
  
*, *:before, *:after 
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    margin: 0
    padding: 0
html
    scroll-behavior: smooth
body
    font-family: $ff-paragraph
    font-size: $fs-regular
    font-weight: 400
    color: $black
    a
        text-decoration: none
        color: inherit  
    h1,h2,h4 
        font-family: $ff-headers
        font-weight: 700
    h1
        font-size: $fs-title
        padding-bottom: 4rem
    h2
        font-size: $fs-header
        padding-bottom: 14px
        text-align: center
    h3
        font-family: $ff-paragraph
        font-size: $fs-subheader
        color: $grey
        text-align: center
        font-weight: 400
        padding-bottom: 40px
    h4
        font-size: 22px
        padding-bottom: 16px
        font-weight: 600
    p, address
        line-height: 26px
        padding-bottom: 10px
        font-style: inherit
        &.caption
            font-size: 20px
            font-weight: 500
    small
        font-size: 15px
        color: $light-grey-text
    section,
    footer
        padding: 90px 130px
     
@import _header
@import _sections
@import _footer
@import _responsive