@font-face {
  font-family: TTCommons;
  src: url("../fonts/TTCommons-Regular.ttf");
}
@font-face {
  font-family: Pragmatica;
  src: url("../fonts/TTCommons-Regular.ttf");
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Pragmatica", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: #333;
}
body a {
  text-decoration: none;
  color: inherit;
}
body h1, body h2, body h4 {
  font-family: "TTCommons", sans-serif;
  font-weight: 700;
}
body h1 {
  font-size: 4rem;
  padding-bottom: 4rem;
}
body h2 {
  font-size: 3rem;
  padding-bottom: 14px;
  text-align: center;
}
body h3 {
  font-family: "Pragmatica", sans-serif;
  font-size: 18px;
  color: #777;
  text-align: center;
  font-weight: 400;
  padding-bottom: 40px;
}
body h4 {
  font-size: 22px;
  padding-bottom: 16px;
  font-weight: 600;
}
body p, body address {
  line-height: 26px;
  padding-bottom: 10px;
  font-style: inherit;
}
body p.caption, body address.caption {
  font-size: 20px;
  font-weight: 500;
}
body small {
  font-size: 15px;
  color: #C4C4C4;
}
body section,
body footer {
  padding: 90px 130px;
}

header {
  min-height: 60vh;
  padding: 40px 130px;
  background: url("../images/header_bg_overlay.png") center center no-repeat;
  background-size: cover;
  background-color: #040B2A;
  color: #fff;
}
header .navigation,
header nav ul,
header .contacts {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .navigation {
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: "TTCommons", sans-serif;
  font-weight: 500;
}
header .navigation .logo svg path {
  fill: #fff;
}
header .navigation nav ul {
  list-style: none;
}
header .navigation .contacts a {
  display: flex;
  gap: 5px;
}
header .navigation .contacts svg {
  fill: #fff;
}
header .navigation a:hover {
  color: #7E779A;
}
header .navigation a:hover svg {
  fill: #7E779A;
}
header .menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 30px;
  background-color: #040B2A;
  height: 40px;
  width: 40px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}
header .menu span {
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
}
header .menu span:before {
  content: "";
  position: absolute;
  top: -8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}
header .menu span:after {
  content: "";
  position: absolute;
  top: 8px;
  background-color: #fff;
  height: 3px;
  width: 25px;
  transition: 0.3s;
}
header .menu.active span {
  background-color: transparent;
}
header .menu.active span:before {
  transform: rotate(45deg);
  top: 0;
}
header .menu.active span:after {
  transform: rotate(-45deg);
  top: 0;
}
header .cover {
  max-width: 800px;
  min-width: 300px;
  margin: 15vh 0;
}
header .cover p {
  color: #7E779A;
  font-size: 1rem;
  line-height: 26px;
}
header .cover a {
  padding: 22px 45px;
  text-transform: uppercase;
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
  border-radius: 90px;
  font-family: "TTCommons", sans-serif;
  font-weight: 600;
}
header .partners {
  display: flex;
  justify-content: end;
  font-family: "TTCommons", sans-serif;
  gap: 20px;
  padding-top: 30px;
}
header .partners p {
  padding-bottom: 0;
}

section#about {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
section#about h2 {
  text-align: left;
}
section#about .left-col,
section#about .right-col {
  width: calc(50% - 15px);
  min-width: 300px;
}
section#about .right-col img {
  width: 100%;
}
section#about .left-col img {
  width: calc(50% - 4px);
  margin-top: 26px;
}
section#services {
  background: #F6F4F9;
}
section#services .services {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-auto-flow: row;
  gap: 20px;
}
section#services .services div {
  padding: 13px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 9px;
}
section#services .services div p {
  text-align: left;
}
section#publications {
  position: relative;
}
section#publications .slider .slider-item {
  background: #F6F4F9;
  margin: 0 10px;
  border-radius: 9px;
}
section#publications .slider .slider-item .slider-item_header img {
  width: 100%;
}
section#publications .slider .slider-item .slider-item_article {
  padding: 30px 30px 20px;
}
section#publications .slider .slider-item p {
  color: #777;
  font-size: 15px;
}
section#publications .slider .slider-item .slider-item_footer {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
}
section#publications .slider .slider-item .slider-item_footer small {
  display: flex;
  gap: 4px;
  color: #7E779A;
}
section#publications .slider .slider-item .slider-item_footer small::before {
  content: url('data:image/svg+xml,%3Csvg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Crect x="1" y="1" width="14" height="14" rx="2" stroke="%23C4C4C4" stroke-width="2"/%3E%3Crect x="4" y="4" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="4" y="7" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="4" y="10" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="7" y="4" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="7" y="7" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="7" y="10" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="10" y="4" width="2" height="2" fill="%23C4C4C4"/%3E%3Crect x="10" y="7" width="2" height="2" fill="%23C4C4C4"/%3E%3C/svg%3E');
}
section#publications .slider .slider-item hr {
  width: calc(100% - 60px);
  margin-left: 30px;
  border: none;
  background-color: #EAE8EC;
  height: 2px;
}
section#publications .slider-arrows {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 240px);
  left: 120px;
  top: 52%;
}
section#publications .slider-arrows .prev,
section#publications .slider-arrows .next {
  background: url("../icons/icon_arrow.svg") center center no-repeat;
  background-color: #fff;
  display: block;
  height: 48px;
  width: 48px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
section#publications .slider-arrows .prev:hover,
section#publications .slider-arrows .next:hover {
  background: url("../icons/icon_arrow_purple.svg") center center no-repeat;
  background-color: #fff;
}
section#publications .slider-arrows .next {
  transform: rotate(180deg);
}

footer {
  color: #fff;
  background: url("../images/footer_bg_overlay.png") center center no-repeat;
  background-size: cover;
  background-color: #0B0B35;
}
footer .footer_main {
  display: flex;
  gap: 30px;
}
footer .footer_main h2, footer .footer_main h3 {
  text-align: left;
}
footer .footer_main h3, footer .footer_main small {
  color: #7E779A;
}
footer .footer_main .left-col {
  width: 40%;
}
footer .footer_main .left-col .contacts {
  display: flex;
  gap: 30px;
  font-family: "TTCommons", sans-serif;
  font-weight: 700;
}
footer .footer_main .left-col .contacts .social {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  justify-content: space-around;
}
footer .footer_main .left-col .contacts a:hover {
  color: #7E779A;
}
footer .footer_main .right-col {
  width: 60%;
  min-width: 300px;
}
footer .footer_main .right-col form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}
footer .footer_main .right-col form div:not(.chekboxes) label:not([for=url]) {
  border-width: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
footer .footer_main .right-col form div:not(.chekboxes) input, footer .footer_main .right-col form div:not(.chekboxes) textarea {
  padding: 16px 20px;
  outline: none;
  background-color: transparent;
  border: 2px solid #473E69;
  width: 100%;
  color: #fff;
}
footer .footer_main .right-col form div:not(.chekboxes) input::placeholder, footer .footer_main .right-col form div:not(.chekboxes) textarea::placeholder {
  color: #777;
}
footer .footer_main .right-col form input[type=submit] {
  border: 2px solid;
  text-transform: uppercase;
  width: 240px;
  padding: 22px 45px;
  color: #fff;
  background: transparent;
  border-radius: 90px;
  cursor: pointer;
}
footer .footer_main .right-col form input[type=submit]:hover {
  background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
}
footer .footer_main .right-col form input[type=checkbox] {
  appearance: none;
  border: 2px solid #473E69;
  background-color: transparent;
  border-radius: 4px;
  height: 14px;
  width: 14px;
  color: #fff;
}
footer .footer_main .right-col form input[type=checkbox]:checked {
  appearance: auto;
}
footer .footer_main .right-col form .agreement {
  font-size: 12px;
  color: #7E779A;
}
footer .footer_main .right-col form .agreement a {
  text-decoration: underline;
}
footer .footer_main .right-col form .error-message {
  display: none;
  position: absolute;
  color: red;
  top: -42px;
}
footer .footer_main .right-col form.is-validated input:invalid {
  border: 1.5px solid red;
}
footer .footer_main .right-col form.is-validated .error-message {
  display: block;
}
footer hr {
  opacity: 0.2;
  margin-top: 30px;
}
footer .footer_secondary {
  display: flex;
  justify-content: space-between;
  font-family: "TTCommons", sans-serif;
  font-weight: 500;
  color: #7E779A;
  padding: 50px 0 0;
  flex-wrap: wrap;
}
footer .footer_secondary div {
  padding-bottom: 20px;
}

@media screen and (max-width: 1127px) {
  body h1 {
    font-size: 3.4rem;
    padding-bottom: 3.4rem;
  }
  body section,
body footer {
    padding: 70px 90px;
  }
  header {
    padding: 40px 90px;
  }
  header .partners {
    justify-content: start;
  }
  header .navigation .contacts {
    display: none;
  }
  section#publications .slider-arrows {
    width: calc(100% - 140px);
    left: 70px;
  }
}
@media screen and (max-width: 890px) {
  section#about .left-col,
section#about .right-col {
    width: 100%;
  }
  section#services .services {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  body section,
body footer {
    padding: 40px 60px;
  }
  header {
    padding: 30px 60px;
    padding-top: 70px;
  }
  header .navigation,
header nav ul,
header .contacts {
    flex-direction: column;
    color: #333;
  }
  header .navigation {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    transform: translateX(-100%);
    transition: 0.5s;
    padding: 40px;
  }
  header .navigation.active {
    transform: translateX(0);
    transition: 0.5s;
  }
  header .navigation .logo svg path {
    fill: #3F0F72;
  }
  header .navigation .contacts {
    display: flex;
  }
  header .navigation .contacts svg {
    fill: #333;
  }
  header .menu {
    display: block;
  }
  header .cover {
    margin: 5vh 0;
  }
  footer .footer_main {
    flex-wrap: wrap;
  }
  footer .footer_main .left-col,
footer .footer_main .right-col {
    width: 100%;
  }
  footer .footer_main .right-col {
    margin-top: 30px;
  }
}
@media screen and (max-width: 540px) {
  body h1 {
    font-size: 2.4rem;
    padding-bottom: 2.8rem;
  }
  body h2 {
    font-size: 2rem;
  }
  body section,
body footer {
    padding: 40px 30px;
  }
  header {
    min-height: auto;
    padding: 70px 30px 30px;
  }
  header .partners {
    flex-direction: column;
  }
  header .partners img {
    margin: -10px 0 0 -7px;
    width: 80%;
  }
  header .cover a {
    padding: 20px 30px;
  }
  section#services .services {
    width: 255px;
    margin: auto;
  }
  section#publications .slider-arrows {
    width: calc(100% - 20px);
    left: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
